<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74041916249-v9khdvkj120ppbs1ccbhqjjfs2stttl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74041916249-v9khdvkj120ppbs1ccbhqjjfs2stttl3</string>
	<key>API_KEY</key>
	<string>AIzaSyCljY14Kptae5sMeEb7KQ4ykqL-KfQXnBI</string>
	<key>GCM_SENDER_ID</key>
	<string>74041916249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.takaloApp</string>
	<key>PROJECT_ID</key>
	<string>takalo-crypto</string>
	<key>STORAGE_BUCKET</key>
	<string>takalo-crypto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74041916249:ios:defee6e922854f621fea48</string>
</dict>
</plist>